.wrapper {
    position: relative;

    @media only screen and (min-width: 1800px) {
        max-width: 1440px;
        margin: 0 auto;
    }

    @media only screen and (max-width: 990px) {
        display: none;
    }
}

.container {
    display: none;
    min-height: 100vh;
    padding: var(--span-l) calc(var(--span-2xl) + var(--span-2xl));
    overflow-x: hidden;

    @media only screen and (max-width: 990px) {
        display: block;
    }

    @media only screen and (max-width: 600px) {
        padding: var(--span-s) var(--span-s);
    }
}

.overlay {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;

    &__image {
        display: block;
        width: 100%;
        height: 600px;
        object-fit: cover;
    }
}

.logo {
    display: flex;

    &__link {
        width: 50px;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;

        svg {
            width: 50px;
            height: 50px;
        }
    }
}

.card {
    min-height: 100vh;
    display: grid;
    grid-template-columns: 2fr 1fr;
    padding: var(--span-xl);

    &__content {
        padding-left: calc(2 * var(--span-xl));
        padding-right: calc(5 * var(--span-xl));

        @media only screen and (max-width: 1200px) {
            padding-left: 0px;
        }

        @media only screen and (max-width: 1140px) {
            padding-right: calc(3 * var(--span-xl));
        }
    }

    &__details {
        position: relative;
        background: var(--details-background);
        border-radius: 5px;
        padding: var(--span-m);
        padding-bottom: 0px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        &-body {
            position: relative;
            z-index: 2;
        }
    }

    &__header {
        padding-top: calc(var(--span-s) + 5px);
        display: flex;
        gap: var(--span-xl);

        @media only screen and (max-width: 1140px) {
            padding-top: calc(var(--span-s) + 10px);
        }
    }

    &__navigation {
        flex-grow: 1;
        display: flex;
        align-items: center;

        &-list {
            gap: var(--span-l);
            display: flex;
            list-style-type: none;
            align-items: center;
        }

        &-link {
            display: inline-block;
            text-decoration: none;
            font-family: var(--Poppins);
            font-size: var(--size-s);
            font-weight: var(--weight-lg);
            line-height: 24px;
            letter-spacing: 0em;
            text-align: left;
            color: var(--black);
        }

        &-divider {
            border: 1px solid var(--black);
            width: 0px !important;
            height: 5px;
        }
    }

    &__heading {
        padding-top: calc(2 * var(--span-2xl));
        font-family: var(--Poppins);
        font-size: calc(var(--size-2xl) + var(--size-xs) + 1px);
        font-weight: var(--weight-lg);
        line-height: 73px;
        letter-spacing: 0em;
        text-align: left;
        color: #161513;

        &--double {
            display: flex !important;
        }

        &--circled {
            position: relative;
            z-index: 2;

            &::after {
                width: 125%;
                border-radius: 65%;
                content: "";
                position: absolute;
                z-index: -1;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                height: 60px;
                border: 5px solid var(--details-background);
            }
        }

        &--small {
            margin-left: 5px;
            font-size: var(--size-xl);
        }

        span {
            text-transform: capitalize;
            display: block;
            width: max-content;
        }
    }

    &__line {
        padding-right: calc(2 * var(--span-xl));

        @media only screen and (max-width: 1140px) {
            padding-right: var(--span-xl);
        }
    }

    &__underline {
        margin-top: var(--span-m);
        height: 1px;
        outline: none;
        background: var(--black);
    }

    &__button {
        cursor: pointer;
        display: block;
        outline: none;
        border: none;
        background: transparent;

        &--sign-up {
            border-radius: 6px;
            background: #140f13;
            font-family: var(--Poppins);
            font-size: calc(var(--size-xs) + 1px);
            font-weight: var(--weight-xlg);
            line-height: 24px;
            letter-spacing: 0em;
            text-align: left;
            color: var(--white);
            padding: var(--span-xs) var(--span-s);
        }

        &--yellow {
            background: var(--details-background);
            color: #111111;
        }

        &--toggle {
            align-self: center;
            width: 24px;
            height: 24px;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            gap: 5px;

            .line {
                width: 24px;
                height: 2px;
                background: var(--black);
            }
        }

        &--cta {
            padding: calc(var(--span-xs) + 5px) var(--span-s);
            font-family: var(--Poppins);
            font-size: var(--size-s);
            font-weight: var(--weight-xlg);
            line-height: 21px;
            letter-spacing: 0em;
            text-align: left;
            border-radius: 5px;
            display: flex;
            gap: var(--span-s);
            align-items: center;

            .icon {
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }

        &--black {
            background: #111111;
            color: var(--white);
        }

        &--gray {
            background: #e6e2d9;
            color: #020000;

            svg {
                width: 14px;
                height: 14px;
            }
        }
    }

    &__menu {
        display: flex;
        justify-content: space-between;
    }

    &__info {
        margin-top: var(--span-m);
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: var(--span-m);
        padding-right: calc(2 * var(--span-xl));

        @media only screen and (max-width: 1140px) {
            padding-right: var(--span-xl);
        }
    }

    &__icon {
        cursor: pointer;
        width: 40px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;

        svg {
            width: 32px;
            height: 32px;
        }
    }

    &__title {
        margin-top: var(--span-xs);
        font-family: var(--Poppins);
        font-size: var(--size-m);
        font-weight: var(--weight-lg);
        line-height: 24px;
        letter-spacing: 0em;
        text-align: left;
        color: var(--black);
    }

    &__paragraph {
        margin-top: 1px;
        font-family: var(--Poppins);
        font-size: var(--size-s);
        font-weight: var(--weight-sm);
        line-height: 21px;
        letter-spacing: 0em;
        text-align: left;
        color: var(--black);
    }

    &__cta {
        padding-top: calc(2 * var(--span-xl));
        display: flex;
        gap: var(--span-s);
    }

    &__details-footer {
        padding-top: calc(11 * var(--span-xl));
    }

    &__illustration {
        display: flex;
        justify-content: center;
    }

    &__scroll {
        display: flex;
        justify-content: center;
        height: 150px;
        overflow-y: hidden;
    }

    &__scroll-button {
        cursor: pointer;
        margin-top: calc(var(--span-xl));
        width: 200px;
        height: 200px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        // justify-content: center;
        flex-direction: column;
        border: none;
        outline: none;
        background: #111111;

        .icon {
            margin-top: var(--span-m);
            color: var(--white);
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .text {
            display: block;
            margin-top: 5px;
            font-family: var(--Poppins);
            font-size: var(--size-s);
            font-weight: var(--weight-xlg);
            line-height: 24px;
            letter-spacing: 0em;
            text-align: center;
            color: var(--white);
        }
    }
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .logo {
        &__link {
            svg {
                width: 48px;
                height: 48px;
            }
        }
    }
}

.heading {
    position: relative;
    padding-top: var(--span-m);
    font-family: var(--Poppins);
    font-size: calc(var(--size-2xl) - 6px);
    font-weight: var(--weight-lg);
    line-height: 64px;
    letter-spacing: 0em;
    text-align: center;
    color: #161513;
    z-index: 2;

    &--underlined {
        padding-bottom: var(--span-s);
        border-bottom: 1px solid var(--black);
    }

    &--flex {
        display: flex !important;
    }

    &--circled {
        position: relative;
        z-index: 2;

        &::after {
            width: 125%;
            border-radius: 65%;
            content: "";
            position: absolute;
            z-index: -1;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            height: 60px;
            border: 5px solid var(--details-background);
        }
    }

    &--small {
        margin-left: 5px;
        font-size: var(--size-xl);
    }

    span {
        position: relative;
        z-index: 2;
        text-transform: capitalize;
        display: block;
        width: max-content;
        margin-right: auto;
        margin-left: auto;
    }

    span {
        display: block;
    }
}

.avatar {
    &--icon {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        object-fit: cover;
    }

    &--1 {
        top: 80px;
        position: absolute;
        right: -40px;
        z-index: -1;
    }

    &--2 {
        bottom: -50px;
        position: absolute;
        left: -40px;
        z-index: -1;
    }
}

.intro {
    margin-top: var(--span-m);
    position: relative;
    z-index: 2;
    max-width: 500px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;

    &__card {
        display: grid;

        &--1 {
            grid-template-columns: 2fr 0.5fr;
            gap: var(--span-s);
            padding-right: calc(var(--span-2xl) + var(--span-l));

            @media only screen and (max-width: 600px) {
                padding-right: var(--span-s);
                grid-template-columns: 2fr 0.5fr;
                gap: var(--span-xs);
            }
        }

        &--2 {
            margin-top: var(--span-m);
            grid-template-columns: 0.5fr 2fr;
            gap: var(--span-s);
            padding-left: calc(var(--span-2xl) + var(--span-l));

            @media only screen and (max-width: 600px) {
                padding-left: var(--span-s);
                grid-template-columns: 0.5fr 2fr;
                gap: var(--span-xs);
            }
        }
    }


    &__box {
        padding: var(--span-m);
        border-radius: 10px;

        &--1 {
            background: #FFF9C2;
        }

        &--2 {
            background: #C2E5FF;
        }
    }

    &__icon {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 24px;
        height: 24px;

        svg {
            width: 24px;
            height: 24px;
        }
    }

    &__title {
        margin-top: var(--span-xs);
        font-family: var(--Poppins);
        font-size: var(--size-s);
        font-weight: var(--weight-lg);
        line-height: 21px;
        letter-spacing: 0em;
        text-align: left;
        color: #000000;
    }

    &__text {
        margin-top: 2px;
        font-family: var(--Poppins);
        font-size: calc(var(--size-xs) - 1px);
        font-weight: var(--weight-sm);
        line-height: 17px;
        letter-spacing: 0em;
        text-align: left;
        color: #000000;
    }

    &__button {
        border: none;
        outline: none;
        background: transparent;
        padding: var(--span-s) calc(var(--span-xs) + 5px);
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        align-items: center;
        min-height: 175px;
        overflow: hidden;

        .rotate {
            transform: rotate(-90deg);
            display: flex;
            align-items: center;
            justify-content: center;
            flex-grow: 1;
            width: 100%;
            gap: 5px;
        }

        .text {
            font-family: var(--Poppins);
            font-size: var(--size-s);
            font-weight: var(--weight-xlg);
            line-height: 21px;
            letter-spacing: 0em;
            text-align: left;
        }

        .icon {
            // padding-left: var(--span-s);
            display: flex;
            align-items: center;
            justify-content: center;
            transform: rotate(-90deg);
        }

        &--black {
            background: #111111;
            color: var(--white);
        }

        &--grey {
            background: #e6e2d9;
            color: #020000;

            svg {
                width: 14px;
                height: 14px;
            }
        }
    }
}